:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    height: 100%;
}
body {
    display: grid;
    place-content: safe center;
    align-items: center;
} 

.content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: safe center;
    align-items: safe center;
    align-content: safe center;

    /* block-size: 30rem; */
    /* margin-block: 20rem; */
    
    
}
/* .img-star {
    background-image: url("../images/icon-star.svg");
     background-repeat: space round;
    
    min-height: 16px;
    width: 105px;
    
} */

.img-star-con {
    display: flex;
    gap: 8px;
    padding-block-end: 0.53rem;
}
.ratings-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: 1rem;
   
    gap: 20px
}
.rating-best {
    padding-block: 1.1rem 0.4rem;
    padding-inline: 2rem;
    font-size: 1.09rem;
}

.ratings-con>div {
  
    /* gap: 12px; */
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;
    background-color: var(--light-grayish-magenta);
    color: var(--very-dark-magenta);
    /* background-color: red; */
}



.rating-reviews {
    /* justify-self: flex-start; */
    padding-block: 1.1rem 0.4rem;
    padding-inline: 2rem;
    font-size: 1.09rem;
    
}
.rating-report {
    padding-block: 1.1rem 0.4rem;
    padding-inline: 2rem;
    font-size: 1.09rem;
}
.rating-reviews>p  {
    padding-inline-start: 0.8rem;
    padding-inline-end: 0.14rem;
    
}

.title {
    /* Mobile */
    font-size: 2.32rem;
    padding-inline: 2.5rem;
    padding-block-start: 5.1rem;
    line-height: 0.9;
    color: var(--very-dark-magenta);
}
.title-con {
    /* Mobile */
    text-align: center;
    margin-block-end: 2.5rem;
}
.title-para {
    /* Mobile */
    padding-block-start: 1.2rem;
    padding-inline: 0.75rem;
    font-size: 1.11rem;
    line-height: 1.4;

    color: var(--dark-grayish-magenta);
    
}
.league-spartan-400 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.league-spartan-500 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.league-spartan-700 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}