:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    height: 100%;
}
body {
    display: grid;
    place-content: safe center;
    align-items: center;

    background-image: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
   
} 

.content {
        /* background-image: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg'), var(--white); */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: safe center;
    align-items: safe center;
    align-content: safe center;

   
    padding-block-end: 6.55rem;


  
    
    
}


.img-star-con {
    display: flex;
    gap: 8px;
    padding-block-end: 0.53rem;
}
.profile-con {
    display: flex;
    flex-direction: column;
    line-height: 1.20;
}
.profile-con>h2 {
    font-size: 1.05rem;
    color: var(--white);
}
.profile-con>p {
    font-size: 1.09rem;
    color: var(--soft-pink);
}
.ratings-con {
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
    margin-block-end: 3.2rem; 

    
    padding-block-start: clamp(0rem, -3.1690rem + 13.5211vw, 9rem);
    padding-inline-start: clamp(0rem, -0.7042rem + 3.0047vw, 2rem);
    gap: clamp(1.0625rem, 1.3160rem + -0.2817vw, 1.25rem);
    flex: 1;

   
    
}

.rating-best {
    padding-block: 1.1rem 0.4rem;
    padding-inline: 2rem;
    font-size: 1.09rem;
    justify-content: center;

    margin-inline-start: clamp(0rem, -2.1127rem + 9.0141vw, 6rem);
 
}

.rating-best>p {
    padding-inline-start: clamp(0rem, -0.6514rem + 2.7793vw, 1.85rem);
    align-self: flex-start;
    
}

.ratings-con>div {
  
    display: flex;

    align-items: center;
    
    border-radius: 8px;
    background-color: var(--light-grayish-magenta);
    color: var(--very-dark-magenta);
    inline-size: clamp(20.3rem, 17.6592rem + 11.2676vw, 27.8rem);
    block-size: clamp(3.5rem, 5.2577rem + -1.9531vw, 4.8rem);
  
    flex-wrap: wrap;
   

}



.rating-reviews {
    padding-block: 1.1rem 0.4rem;
    padding-inline: 2rem;
    font-size: 1.09rem;
    justify-content: center;
    
}
.rating-reviews>p  {
   
    padding-inline-end: 0.14rem;

    padding-inline-start: clamp(0.8rem, 0.4303rem + 1.5775vw, 1.85rem);
   
    align-self: flex-start;
    
}
.rating-report {
    padding-block: 1.1rem 0.4rem;
    padding-inline: 2rem;
    font-size: 1.09rem;
    justify-content: center;
    margin-inline-start: clamp(0rem, -1.0563rem + 4.5070vw, 3rem);
  
}

.rating-report>p {
    padding-inline-start: clamp(0rem, -0.6514rem + 2.7793vw, 1.85rem);
    align-self: flex-start;
 
}
.testmonials-con {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;

    padding-block: clamp(0rem, -0.8803rem + 3.7559vw, 2.5rem);
    margin-inline: clamp(0rem, 1.3521rem + -1.5023vw, 1rem);
    gap: clamp(0.9375rem, 0.5634rem + 1.5962vw, 2rem);
 
}

.testmonials-con>div {
   

    
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
    padding-inline: 2rem;
    padding-block-start: 2.4rem;
    height: 100%;
    padding-block-end: 1.9rem;

    max-inline-size: 21.7rem;
    max-block-size: 14.9rem;
    
}
.testmonials-con>div:nth-child(2) {
    padding-block-start: 2.5rem;
    padding-block-end: 2rem;

    margin-block-start:  clamp(0rem, -0.2817rem + 1.2019vw, 0.8rem);
    
  
}
 .testmonials-con>div:last-child {
    padding-block-start: 2.55rem;
    padding-block-end: 1.9rem;

    margin-block-start: clamp(0rem, -0.6338rem + 2.7042vw, 1.8rem);
 

 } 

.testmonial-profile-con {
    display: flex;
    gap: 23px;
    margin-block-end: 1.8rem;
   
}

.testmonial-profile-con + q {
    color: var(--white);
    font-size: 1rem;
    text-align: left;
   
}





.testmonial-profile-con>img {
   border-radius: 30px;
}
.title {
   
    line-height: 0.9;
    color: var(--very-dark-magenta);
    

    font-size: clamp(2.32rem, 1.9925rem + 1.3972vw, 3.25rem);
    padding-inline: clamp(2.5rem, -0.0704rem + 10.9671vw, 9.8rem) clamp(2.5rem, -0.2817rem + 11.8685vw, 10.4rem);
    padding-block-start: clamp(5.1rem, 4.9944rem + 0.4507vw, 5.4rem);
    padding-block-end: clamp(0rem, -0.4577rem + 1.9531vw, 1.3rem);

}
.title-con {
    text-align: center;

    margin-block-end: clamp(0rem, 3.3803rem + -3.7559vw, 2.5rem);
    flex: 1;
   
   

}
.title-para {
   
    font-size: 1.11rem;
    
    
    padding-block-start: clamp(0.5rem, 1.4465rem + -1.0516vw, 1.2rem);
    padding-inline: clamp(0.75rem, -2.4366rem + 13.5962vw, 9.8rem) clamp(0.75rem, -0.7465rem + 6.3850vw, 5rem);
    

    color: var(--dark-grayish-magenta);
    
}
.league-spartan-400 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.league-spartan-500 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.league-spartan-700 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@media (min-width: 760px) {

    body {
        /* background-color: var(--white); */
        background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
        background-repeat: no-repeat;
        
    }
    

    .rating-best, .rating-report, .rating-reviews{
        justify-content: flex-start;
    }
    .testmonial-profile-con {
        line-height: 1.35;
    }
    .testmonial-profile-con + q {
        line-height: 1.35;
    }
    .title-con {
        text-align: left;
    }
    
    .title-para {
        line-height: 1.4;
    }
}