:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    height: 100%;
}
body {
    display: grid;
    place-content: safe center;
    align-items: center;
} 

.content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: safe center;
    align-items: safe center;
    align-content: safe center;

   
    padding-block-end: 6.55rem;

    /* Desktop */
  
    
    
}


.img-star-con {
    display: flex;
    gap: 8px;
    padding-block-end: 0.53rem;
}
.profile-con {
    display: flex;
    flex-direction: column;
    line-height: 1.20;
}
.profile-con>h2 {
    font-size: 1.05rem;
    color: var(--white);
}
.profile-con>p {
    font-size: 1.09rem;
    color: var(--soft-pink);
}
.ratings-con {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin-inline: 1rem;
    margin-block-end: 3.2rem;
    gap: 20px;

    /* Desktop */
    flex: 1;

    padding-block-start: 9rem;
    padding-inline-start: 2rem;
    gap: 17px;
    
}

.rating-best {
    /* align-self: flex-end; */
    padding-block: 1.1rem 0.4rem;
    padding-inline: 2rem;
    font-size: 1.09rem;

    /* Desktop */
    margin-inline-start: 6rem;
}

.rating-best>p {
    /* Desktop */
    align-self: flex-start;
    padding-inline-start: 1.85rem;
}

.ratings-con>div {
  
    /* gap: 12px; */
    display: flex;

    /* flex-direction: column; */
    align-items: center;
    
    border-radius: 8px;
    background-color: var(--light-grayish-magenta);
    color: var(--very-dark-magenta);
    /* background-color: red; */
    
    /* Desktop */
    flex-wrap: wrap;
    inline-size: 27.8rem;
    block-size: 3.5rem;
    background-color: red;

}



.rating-reviews {
    /* justify-self: flex-start; */
    padding-block: 1.1rem 0.4rem;
    padding-inline: 2rem;
    font-size: 1.09rem;
    
}
.rating-reviews>p  {
    /* Mobile */
    padding-inline-start: 0.8rem;
    padding-inline-end: 0.14rem;

    /* Desktop */
    padding-inline-start: 1.85rem;
    align-self: flex-start;
    
}
.rating-report {
    /* align-self: center; */
    padding-block: 1.1rem 0.4rem;
    padding-inline: 2rem;
    font-size: 1.09rem;

    /* Desktop */
    margin-inline-start: 3rem;
}

.rating-report>p {
    /* Desktop */
    align-self: flex-start;
    padding-inline-start: 1.85rem;
}
.testmonials-con {
    margin-inline: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    min-width: 0;
}

.testmonials-con>div {
    block-size: 15.524rem;

    
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
    padding-inline: 2rem;
    padding-block-start: 2.4rem;
    height: 100%;
    padding-block-end: 1.9rem;
}
.testmonials-con>div:nth-child(2) {
    padding-block-start: 2.5rem;
    padding-block-end: 2rem;
  
}
 .testmonials-con>div:last-child {
    padding-block-start: 2.55rem;
    padding-block-end: 1.9rem;

 } 

.testmonial-profile-con {
    display: flex;
    gap: 23px;
    margin-block-end: 1.8rem;
   
}

.testmonial-profile-con + q {
    color: var(--white);
    font-size: 1rem;
    text-align: left;
    line-height: 1.35;
    /* flex: 1; */
}





.testmonial-profile-con>img {
   border-radius: 30px;
}
.title {
    /* Mobile */
    font-size: 2.32rem;
    padding-inline: 2.5rem;
    padding-block-start: 5.1rem;
    line-height: 0.9;
    color: var(--very-dark-magenta);
    
}
.title-con {
    /* Mobile */
    text-align: center;
    margin-block-end: 2.5rem;

    /* Desktop */
    flex: 1;
   

}
.title-para {
    /* Mobile */
    padding-block-start: 1.2rem;
    padding-inline: 0.75rem;
    font-size: 1.11rem;
    line-height: 1.4;

    color: var(--dark-grayish-magenta);
    
}
.league-spartan-400 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.league-spartan-500 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.league-spartan-700 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}